@media (max-width: 1179px) {
    /* header */
    .header_nav{
        width: 408px;
    }
    /* section1 */
    .section1{
        width: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }
    .h1_section1{
        text-align: center;
    }
    .p_section1{
        text-align: center;
    }
    .text_div_section1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 68px;
    }
    .section1_img{
        background-color: brown;
        width: 100%;

    }
    /* section2 */
    .section2_conteiner{
        padding: 32px;
        display: flex;
        flex-direction: column;
    }
    .section2_img{
        width: 100%;
    }
    .text_div_section2{
        display: flex;
        flex-direction: row;
        margin-top: 64px;
        column-gap: 129px;
    }

    /* footer */
    .footer_div{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 32px;
    }
    .peding_footer_conteiner{
        display: none;
    }
}